<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bcc.security.admin.mapper.FileItem" >
  <resultMap id="BaseResultMap" type="com.bcc.security.admin.entity.FileItem" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="file_info_id" property="fileInfoId" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="stroage_url" property="storageUrl" jdbcType="VARCHAR" />
  </resultMap>
</mapper>